extends layout

block title
  h1= title

block content
  form.messageForm(method="POST" action="/new")
    div.userNameDialog
      label User name:
      input(placeholder='enter username', type='text', name='user', value='', onchange='{handleChange}')
    div.messageDialog
      label Message:
      input(placeholder='write your message here', type='text', name='message', value='', onchange='{handleChange}')
    .sendButton 
      input(type='submit', value='Submit')